.env
node_modules
.vscode
.DS_Store


/vector_database
vector_database/



notes.md
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/
.venv/
instance/
*.log
mysql.cnf
.vscode/
.idea/
.DS_Store
*.egg
*.egg-info/
dist/
build/
*.egg-info/
deleted


